.EachContent{
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}
.EachAction{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 2px #c9c9c9;
    border: 1px solid #c9c9c9;
    cursor: pointer;
}
.delete{
    background-color: red;
    color: #fff;
}
.edit{
    background-color: #fff;
    color: #0000ff;
}
.select{
    background-color: #0000ff;
    color: #fff;
}
.text{
    margin-left: 5px;
    border-left: 1px solid #ebebe4;
    width: 100%;
}
.input{
    margin: 5px;
    width: 100%;
}